{% extends 'maintimeline/base.html' %}
{% load static %}

{% block content %}
<style>
.detailimage{
	max-height:100%;
	max-width:100%;
	} 

.detailimage2{
	max-height:400px;
	max-width:100%;
	} 

</style>

<div class="container">
	<div style="height:25px"></div>

<div class="row">
	<p><a href="/" class="btn btn-primary"><< Back to Timeline</a></p>
</div>
<div class="row">
	<h1>{{ object.headline }}</h1>
{% if object.category %}
	<p style="font-style:italic">This event provides general context and is not specific to Christian Ethics. </p>
	{% endif %}
</div>
	<div style="height:25px"></div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<img class="detailimage2" src="https://barbaradonnini.com/homosexualitytimeline/{{ object.image1|default_if_none:'#' }}" />
	<br>
		<p style="font-style:italic; color:#A9A9A9">{{object.image_caption}} <a href="{{object.image_source}}" target="_blank">Image source</a>.</p>

</div>

	

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	{% if event.year < 0 %}
<date><strong>Date</strong>: {{ event.year|stringformat:"s"|slice:"1:" }} BCE</date>
{% endif %}
 
{% if event.year > 0 %}
        <date><strong>Date</strong>: {{ event.year }}</date>
    {% endif %}
{% if object.category %}
<h2>{{ object.category }}</h2>
{% endif %}

{% if object.city %}
<p><strong>City</strong>: {{ object.city }}</p>
{% endif %}

{% if object.state %}
<p><strong>State</strong>: {{ object.state|date }}</p>
{% endif %}

{% if object.country %}
<p><strong>Country</strong>: {{ object.country }}</p>
{% endif %}

	</div>
</div>

	<div style="height:25px"></div>
<div class="row" style="margin-top:50px">
<p>{{ object.description }}</p>
</div>
<div class="row" style="margin-top:20px">
<p style="font-style:italic; color:#00BFB2">See <a href="/references">references page</a> for full bibliographic information.</p>
</div>
{% if object.image2 %}
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<img class="detailimage" src="https://barbaradonnini.com/homosexualitytimeline/{{ object.image2|default_if_none:'#' }}" />
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<iframe
  width="100%"
  height="450px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkBf3h_ywYPvZ5JKJUndC4Kua-QxQ2PAA

    &q={{ object.city }},{{object.county}}" allowfullscreen>
</iframe>
</div>
</div>
{% else %}
<div class="row">

	<iframe
  width="100%"
  height="450px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkBf3h_ywYPvZ5JKJUndC4Kua-QxQ2PAA

    &q={{ object.city }},{{object.county}}" allowfullscreen>
</iframe>
</div>
{% endif %}

<div class="row" style="margin-top:50px">
	<div style="height:50px"></div>
	<p><a href="/" class="btn btn-primary"><< Back to Timeline</a></p>
</div>
</div>
{% endblock %} 