{% extends 'maintimeline/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div style="height:25px"></div>

<div class="row">
	<h1>{{ object.headline }}</h1>
{% if object.category %}
	<p style="font-style:italic">This event provides general context and is not specific to Christian Ethics. </p>
	{% endif %}
</div>
	<div style="height:25px"></div>
<div class="row" style="height:400px">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<img height="100%" width="auto" src="https://barbaradonnini.com/homosexualitytimeline/{{ object.image_url|default_if_none:'#' }}" />
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
{% if object.category %}
<h2>{{ object.category }}</h2>
{% endif %}

{% if object.city %}
<p><strong>City</strong>: {{ object.city }}</p>
{% endif %}

{% if object.state %}
<p><strong>State</strong>: {{ object.state|date }}</p>
{% endif %}

{% if object.country %}
<p><strong>Country</strong>: {{ object.country }}</p>
{% endif %}

	</div>
</div>
	<div style="height:25px"></div>
<div class="row">
<p>{{ object.description }}</p>
</div>

</div>
{% endblock %} 