{% extends 'maintimeline/base.html' %}
{% load static %}
     <title>Timeline | Dr. Graham</title>
{% block content %}

<p>Dr. Graham,</p>

<p>Thanks for a great semester! Here are some notes for your review of my final project.</p>

<p>I included some "general" events mixed in with the Christian-specific ones for context. </p>

<p>The references page shows all of the sources used to create the timeline.</p>

<p>Everything was coded from scratch. I literally opened a blank text editor and typed out the Python, HTML, CSS and JavaScript required to make this work. I am only telling you this so you know I put a considerable amount of time into the project in addition to the scholarly research.</p>

<p>This is exactly what I have been looking for an excuse to work on, so thank you! The long term goal is to take this exact code and use it for a broader scope timeline. Future goals also include adding a map and the ability to view the data in different formats than just a scorlling timeline. Also, I may change the styling so that the images are larger and one can zoom in and out on the timeline. </p>

{% endblock %}