{% extends 'maintimeline/base.html' %}
{% load static %}
     <title>Timeline | Dr. Graham</title>
{% block content %}
<div style="min-height:100vh">
	<div style="height:50px"></div>
<div class="container">
<p>Dr. Graham,</p>

<p>Thanks for a great semester! Here are some notes for your review of my final project.</p>

<p>There is a <a href="/infinite">scrolling</a> version of the timeline, and <a href="/">the main one</a> where you can control the speed.</p>

<p>I included some "general" events mixed in with the Christian-specific ones for context. </p>

<p>The <a href="/references">references page</a> shows all of the sources used to create the timeline.</p>

<p>Everything was coded from scratch. I literally opened a blank text editor and typed out the Python, HTML, CSS and JavaScript required to make this work. I am only telling you this so you know I put a considerable amount of time into the project in addition to the scholarly research.</p>


<p>This is exactly what I have been looking for an excuse to work on, so thank you! The long term goal is to take this exact code and use it for a broader scope timeline. Future goals also include slicing the data in different ways (by region or category for example) and a zoom functionality for the timeline itself. </p>

<p>Thanks again,</p>


<p>Barb</p>

</div>
</div>
{% endblock %}