{% extends 'maintimeline/base.html' %}
{% load static %}
     <title>References</title>
{% block content %}
<style>
.reference{
	margin-top:50px;
}
</style>
<div style="min-height:100vh">
<div class="container">
	<div style="height:50px"></div>
<p class="reference">Ambrosino, Brandon. “The Invention of ‘Heterosexuality.’” Accessed April 8, 2018. <a href="http://www.bbc.com/future/story/20170315-the-invention-of-heterosexuality" target="_blank">http://www.bbc.com/future/story/20170315-the-invention-of-heterosexuality</a>.</p>

<p class="reference">Boswell, John. Christianity, Social Tolerance, and Homosexuality. University of Chicago Press, 2009. http://www.myilibrary.com?id=206961.</p>

<p class="reference">Bailey, Derrick Sherwin. Homosexuality and the Western Christian Tradition. London: Longmans, Green and Co., 1975.</p>

<p class="reference"> "CHURCH FATHERS: Homily 4 on Romans (Chrysostom)". Newadvent.org. Retrieved 2012-04-18.</p>

<p class="reference">Cornwall, Susannah. Theology and Sexuality, 2013.</p>

<p class="reference">Farley, Margaret A. Just Love: A Framework for Christian Sexual Ethics. London: Continuum, 2012.</p>

<p class="reference">Gunnora. “Viking Answer Lady Page.” Fordham University. Accessed May 1, 2018. https://sourcebooks.fordham.edu/pwh/gayvik.asp.</p>

<p class="reference">Martin, Dale. "The "Anti-household" Paul: Thecla." Lecture, RLST 152 Open Yale Course, New Haven, CT, April 24, 2018.
<a href="https://oyc.yale.edu/religious-studies/rlst-152/lecture-20" target="_blank">https://oyc.yale.edu/religious-studies/rlst-152/lecture-20</a></p>

<p class="reference">McNeill, John J. The Church and the Homosexual. Boston: Beacon Press, 1993.</p>

<p class="reference">Miller, Neil. Out of the Past: Gay and Lesbian History from 1869 to the Present. New York: Vintage Books, 1995.</p>

<p class="reference">Mondimore, Francis Mark. A Natural History of Homosexuality. Baltimore: Johns Hopkins University Press, 2011.</p>

<p class="reference">Pickett, Brent. “Homosexuality.” edited by Edward N. Zalta, Spring 2018. Metaphysics Research Lab, Stanford University, 2018. https://plato.stanford.edu/archives/spr2018/entries/homosexuality/.
</p>

<p class="reference">“Theophylact of Ochrid’s ‘In Defence of Eunuchs.’” The University of Iowa Libraries. Accessed May 1, 2018. https://inpress.lib.uiowa.edu/feminae/DetailsPage.aspx?Feminae_ID=4907.</p>


</div>
</div>

{% endblock %}